---
version: '3'

services:

  guacamole:
    image: 'guacamole/guacamole:{{ guacamole_version }}'
    environment:
      GUACAMOLE_HOME: '{{ GUACAMOLE_HOME }}'
      GUACD_HOSTNAME: 'guacd'
    volumes:
      - '{{ GUACAMOLE_DIR }}:{{ GUACAMOLE_HOME }}:rw'

  guacd:
    image: 'guacamole/guacd:{{ guacamole_version }}'
    environment:
      GUACD_LOG_LEVEL: "{{ GUACD_LOG_LEVEL }}"

  nginx:
    image: 'nginx:latest'
    volumes:
      - '{{ NGINX_DIR }}:/etc/nginx/conf.d:rw'
    ports:
      - "{{ nginx_port }}:{{ nginx_port }}"
      - "{{ nginx_https_port }}:{{ nginx_https_port }}"
