guacd-hostname: {{ guacd_hostname }}
guacd-port: {{ guacd_port }}
guacd-ssl: {{ guacd_ssl }}
secret-key: {{ secret_key }}
timestamp-age-limit: {{ timestamp_age_limit }}
use-local-privkey: {{ use_local_privkey }}
key-directory: {{ key_directory }}
